@import 'fonts/PFAgoraSansPro';
@import 'fonts/PFAgoraSerifPro';
@import 'fonts/PFAgoraSlabPro';
@import 'fonts/Bariol';
@import 'fonts/ChevinPro';
@import 'fonts/ProximaNova';
@import 'fonts/ProximaNovaCondensed';
@import 'fonts/ProximaNovaExtraCondensed';


@font-face {
	font-family: 'LOT';
	src: url('/assets/fonts/LOT/LOT.otf') format('opentype');
}








@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(//themes.googleusercontent.com/static/fonts/opensans/v8/cJZKeOuBrn4kERxqtaUH3bO3LdcAZYWl9Si6vvxL-qU.woff) format('woff');
}