<div class='main'>
	<h2> Buttons </h2>
	<button type="button" class="btn btn-neutral"> 
		<span class="glyphicon glyphicon-cog" aria-hidden="true"></span> Settings
	</button>

	<button type="button" class="btn btn-add">
	  <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Add
	</button>

	<button type="button" class="btn btn-remove">
	  <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Remove
	</button>

	<button type="button" class="btn btn-disabled">
	  <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Disabled
	</button>

	<h1> Main header </h1>
	<h1> Main header </h1>
	<h2> Secondary header </h2>
	<h3> Headline </h3>
	<h4> Small links </h4>
	<p> Bodycopy </p>
	<p class="quote"> Some quotes </p>

	<span class="label label-pink">ABCDEFGHJKLMN</span>
	<span class="label label-orange">OPQRSTUVWQXZ</span>
	<span class="label label-yellow">123456789</span>
	<span class="label label-green">TAG NAME</span>
	<span class="label label-spring">TAG NAME</span>
	<span class="label label-aqua">TAG NAME</span>
	<span class="label label-blue">TAG NAME</span>
	<span class="label label-purple">TAG NAME</span>
	<span class="label label-rose">TAG NAME</span>
	<span class="label label-light-gray">TAG NAME</span>
	<span class="label label-dark-gray">TAG NAME</span>


	<input type="text" class="form-control" placeholder="Text input">
</div>>