@font-face {
    font-family: 'Bariol';
    src: url('/assets/fonts/Bariol/Bariol_Regular.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'PFAgoraSlabPro';
    src: url('/assets/fonts/Bariol/Bariol_Regular_Italic.otf') format('opentype');
    font-weight: 400;
    font-style: italic;
}