@font-face {
    font-family: 'ProximaNovaCondensed';
    src: url('/assets/fonts/Proxima-Nova/ProximaNovaCond-Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'ProximaNovaCondensed';
    src: url('/assets/fonts/Proxima-Nova/ProximaNovaCond-Reg.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'ProximaNovaCondensed';
    src: url('/assets/fonts/Proxima-Nova/ProximaNovaCond-Black.otf') format('opentype');
    font-weight: 800;
    font-style: normal;
}